.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  width: 100%;
  height: 80px;
  gap: 1.5rem;
}
.logoText {
  font-size: 3.5vmax;
  font-weight: bold;
  letter-spacing: 0.8px;
  background: linear-gradient(to right, #8360c3, #2ebf91);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
.nav {
  display: flex;
  justify-content: space-around;
  gap: 1.2rem;
  font-size: 2.5vmax;
}
a {
  all: unset;
  color: #b5b7bb;
}
a:hover {
  color: #ffffff;
  cursor: pointer;
}
